{% extends "base.html" %}
{% block title %}Index {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block app_content %}

{% if table %}
<div class="container chars-list">
    <ul class="list-group">
        {% for char in table %}
        <li class="list-group-item">
            <a href="{{'/characters/' ~ char.name}}">
                <img class="list-group-item-pic" src="{{ url_for('static', filename='img/chars/' ~ char.name ~ '_thumbnail.png') }}" alt="{{char.name}} banner">
                {{ char.name[0]|upper }}{{char.name[1:]}}</a>
        </li>

        {% endfor %}
    </ul>
</div>
{% else %}
<h4 class="display-4">Error</h4>
{% endif %}
{% endblock %}